<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en-us'}}">

  <link href="https://gmpg.org/xfn/11" rel="profile" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

  <title>
      {{ page.title }} &middot; {{ site.title }}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}" />

  <!-- Sidebar -->
  <div id="sidebar">
    <!-- Header portion of sidebar -->
    <header class="sidebar-head">
      <img src="{{ '/assets/images/profile.jpg' | relative_url }}" alt="Sidebar image" class="sidebar-image"/>
      <h1 class="sidebartitle">
        <a href="{{ "/" | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="sidebar-desc">{{ site.description }}</p>
    </header>
      <!-- Loading the page links -->
        <a class="sidebar-content" href="{{ "/" | relative_url}}"> Home </a>
        <a class="sidebar-content" href="{{ "/ctfs.html" | relative_url}}"> CTFs </a>
        <a class="sidebar-content" href="{{ "/projects.html" | relative_url}}"> Projects </a>
        <a class="sidebar-content" href="{{ "/blog.html" | relative_url}}"> Blog </a>
      <nav id="sidebar-icon-links">
        <a id="subscribe-link"
           class="icon" title="Subscribe" aria-label="Subscribe"
           href="{{ site.feed.path | default: 'feed.xml' | relative_url }}">
          <img src="{{ '/assets/images/feed.svg' | relative_url }}" alt="Subscribe Icon" />
        </a>
        <a id="github-link"
          class="icon" title="Github Project" aria-label="Github Project"
          href="https://github.com/digitalyoshixi">
          <img src="{{ '/assets/images/github.svg' | relative_url }}" alt="Github Icon" />
        </a>
      </nav>

      <p class="sidebar-content">
        &copy; {{ site.time | date: '%Y' }}.
        <a href="{{ "/LICENSE.md" | relative_url }}">MIT License.</a>
      </p>
  </div>

    <main class="container">
      {{ content }}
    </main>

  </body>
</html>
